{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block header %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
    {% block container %}
    {% endblock %}
    </div
  </body>
    {% block footer %}
    {% endblock %}

</html>
