<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NSudalgaa</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
    />
    <!--Replace with your tailwind.css once created-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
      rel="stylesheet"
    />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }
    </style>
  </head>
  <body
    class="leading-normal tracking-normal text-white gradient"
    style="font-family: 'Source Sans Pro', sans-serif"
  >
    <form>
      {% csrf_token %}
      <nav id="header" class="fixed w-full z-30 top-0 text-white">
        <div
          class="
            w-full
            container
            mx-auto
            flex flex-wrap
            items-center
            justify-between
            mt-0
            py-2
          "
        >
          <div class="pl-4 flex items-center">
            <a
              class="
                toggleColour
                text-white
                no-underline
                hover:no-underline
                font-bold
                text-2xl
                lg:text-4xl
              "
              href="#"
            >
              <!--Icon from: http://www.potlabicons.com/ -->
              <svg
                class="h-8 fill-current inline"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512.005 512.005"
              ></svg>
              NSudalgaa
            </a>
          </div>
          <div class="block lg:hidden pr-4">
            <button
              id="nav-toggle"
              class="
                flex
                items-center
                p-1
                text-pink-800
                hover:text-gray-900
                focus:outline-none focus:shadow-outline
                transform
                transition
                hover:scale-105
                duration-300
                ease-in-out
              "
            ></button>
          </div>
          <div
            class="
              w-full
              flex-grow
              lg:flex lg:items-center lg:w-auto
              hidden
              mt-2
              lg:mt-0
              bg-white
              lg:bg-transparent
              text-black
              p-4
              lg:p-0
              z-20
            "
            id="nav-content"
          >
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
              <li class="mr-3">
                <a
                  class="
                    inline-block
                    py-2
                    px-4
                    text-black
                    font-bold
                    no-underline
                  "
                  href="#"
                  >Hello {{username}}</a
                >
              </li>
            </ul>

            <button
              id="navAction"
              class="
                mx-auto
                lg:mx-0
                hover:underline
                bg-white
                text-gray-800
                font-bold
                rounded-full
                mt-4
                lg:mt-0
                py-4
                px-8
                shadow
                opacity-75
                focus:outline-none focus:shadow-outline
                transform
                transition
                hover:scale-105
                duration-300
                ease-in-out
              "
            >
              <a href="/logout">Log Out</a>
            </button>
          </div>
        </div>
        <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
      </nav>
      <!--Hero-->
      <div class="pt-24">
        <div
          class="
            container
            px-3
            mx-auto
            flex flex-wrap flex-col
            md:flex-row
            items-center
          "
        >
          <!--Left Col-->
          <div
            class="
              flex flex-col
              w-full
              md:w-2/5
              justify-center
              items-start
              text-center
              md:text-left
            "
          ></div>
        </div>
      </div>
      <div class="flex">
        <div
          class="
            bg-blue-500
            hover:bg-blue-400
            text-white
            font-bold
            py-2
            px-4
            border-b-4 border-blue-700
            hover:border-blue-500
            rounded
          "
        >
          <a href="/fb_list" class="button">Facebook</a>
        </div>
        <div
          class="
            bg-yellow-500
            hover:bg-yellow-400
            text-white
            font-bold
            py-2
            px-4
            border-b-4 border-yellow-700
            hover:border-yellow-500
            rounded
          "
        >
          <a href="/page_list" class="button">Page</a>
        </div>
        <div
          class="
            bg-green-500
            hover:bg-green-400
            text-white
            font-bold
            py-2
            px-4
            border-b-4 border-green-700
            hover:border-green-500
            rounded
          "
        >
          <a href="/group_list" class="button">Group</a>
        </div>
        <div
          class="
            bg-red-500
            hover:bg-red-400
            text-white
            font-bold
            py-2
            px-4
            border-b-4 border-red-700
            hover:border-red-500
            rounded
          "
        >
          <a href="/post_list" class="button">Post</a>
        </div>
      </div>
    </form>
  </body>
</html>
